// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #000000;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "twitter": ($twitter, $twitter-invert)
);

// Links
$link: rgba(250, 1, 1, 0.938);
$link-invert: findColorInvert($link);
$link-focus-border: $link;

$family-sans-serif: "Ubuntu",sans-serif;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5:1.25rem;
$size-6:1rem;
$size-7:0.75rem;